@model RestaurantVM
<!-- top -->
<div class="topTitle container-fluid">
    <div class="discount row">
        <div class="col-12">
            <a href="#">使用優響方案可享$0外送費</a>
        </div>
    </div>
</div>
<!-- banner -->
<div class="banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carouselInner">
            <div class="carouselItem active">
                <img class="d-block" src="@Model.StorePicture" alt="First slide">
            </div>
        </div>
    </div>
    <div class="bannerTxtBtn container">
        <div class="text">
            <h1>@Model.StoreName</h1>
            <img src="https://dkl8of78aprwd.cloudfront.net/ticket@3x.png" alt="">
            •<span class="starScore">@Model.Score1</span><span class="comment">(21)</span>
        </div>
        <div class="timeHeartBtn">
            <button type="button" class="btn btn-light btn-oblong" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-calendar-day"></i>
                安排時間
            </button>
            <!-- heart -->
            <span class="fa-stack fa-1x heart">
                <i class="far fa-heart fa-stack-1x heartEmpty"></i>
                <i class="fas fa-heart fa-stack-1x heartSolid"></i>
            </span>
            <!-- timeModal -->
            <div class="timeModal modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="timeModalContent modal-content">
                        <div class="btn-time btnTimeClose">
                            <button class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="timeModalHeader modal-header">
                            <h3 class="openTime modal-title" id="exampleModalLabel">
                                在<span class="setOpenTime">@Model.SupplyTime</span>
                                AM開始營業<br><span>這家餐廳目前沒有營業，但您可提前預約訂單。</span>
                            </h3>
                        </div>
                        <!-- 下拉選單modal -->
                        <div class="modal-body">
                            <select class="formSelect" aria-label="select example">
                                <option selected>今天，8月26日 週四</option>
                                <option value="1">明天，8月27日 週五</option>
                                <option value="2">8月30日 週一</option>
                                <option value="3">8月31日 週二 </option>
                            </select>
                            <select class="formSelect" aria-label="select example">
                                <option selected>今天，8月26日 週四</option>
                                <option value="1">明天，8月27日 週五</option>
                                <option value="2">8月30日 週一</option>
                                <option value="3">8月31日 週二 </option>
                            </select>
                        </div>
                        <div class="selectTime modal-footer">
                            <button type="button" class="btn btn-lg btn-dark btn-time">選擇時間</button>
                            <button type="button" class="btn btn-lg btn-secondary btn-search">查看餐廳</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--地址-->
<div class="wrap container">
    <div class="address">
        <p>$ • @Model.StoreCategoryName</p>
        <p>
            @Model.StoreAddress • <a data-toggle="modal" data-target="#more"
                                     href="#">顯示更多</a>
        </p>
    </div>
</div>
<!-- dataModal -->
<div class="modal fade" id="more" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="dataModalContent modal-content">
            <div class="dataModalHeader">
                <div class="imgClose">
                    <div type="button" data-dismiss="modal">
                        <span aria-hidden="true">
                            <i class="far fa-times-circle fa-3x"></i>
                        </span>
                    </div>
                    <div class="imgClosePic">
                        <img src="https://picsum.photos/458/192/?random=1">
                    </div>
                </div>
            </div>
            <div class="dataModalBody">
                <div class="store-txt">
                    <h2 class="p-3">@Model.StoreName</h2>
                    <span class="p-3">@Model.StoreCategoryName • $</span>
                </div>
                <div class="line"></div>
                <div class="map">
                    <div class="marker p-3">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="textCenter">
                        @Model.StoreAddress
                    </div>
                    <div class="copy p-3">
                        <i class="fas fa-clone"></i>
                    </div>
                </div>
                <div class="line"></div>
                <div class="startTime">
                    <div class="clock p-3">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="textCenter">營業時間:<span class="week">星期一</span> <span class="setOpenTime">@Model.SupplyTime</span></div>
                    <div class="plus p-3">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
                <div class="line"></div>
                <div class="joinEats">
                    <div class="ticket p-3">
                        <img src="https://dkl8of78aprwd.cloudfront.net/ticket@3x.png" alt="">
                    </div>
                    <div class="textCenter">
                        使用優響方案可享$0外送費<br>
                        <span>Join Eats Pass to save at this store</span>
                    </div>
                    <div class="arrow p-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="line"></div>
                <div class="score">
                    <div class="star p-3">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="textCenter"><span class="starScore">@Model.Score1</span> <span class="comment">(21筆評分)</span></div>
                    <div class="space p-3"></div>
                </div>
                <div class="line"></div>
                <div class="bill">
                    <p>[本店開立紙本發票]</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- storeModal -->
<div class="modal fade" id="storeModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="storeModalContent modal-content">
            <!-- <div class="storeModal modal-header"> -->
            <div class="storeModalBody modal-body">
                <div class="imgAndClose">
                    <div type="button" data-dismiss="modal">
                        <span aria-hidden="true">
                            <i class="far fa-times-circle fa-3x"></i>
                        </span>
                    </div>
                    <div class="imgAndClosePic">
                        <img src="https://picsum.photos/600/600/?random=1">
                    </div>
                </div>

                <div class="cardWrap d-flex flex-column">
                    <div class="scroll">
                        <div class="topWrap">
                            <div class="food p-4">
                                <h2>蕃茄迷你鍋</h2>
                                <p>附白飯一碗。恕無客製化醬料，敬請見諒。</p>
                            </div>
                            <div class="selectedBgc p-4">
                                <div class="selected d-flex justify-content-between align-items-center">
                                    <div class="selectWrap">
                                        <div class="selectedTitle">辣選擇</div>
                                        <div class="selectedTxt">
                                            <span>最多可選擇 1 個項目</span>
                                        </div>
                                    </div>
                                    <div class="circleIconDiv">
                                        <i class="fas fa-chevron-circle-down circleIcon fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="checkboxDiv d-flex align-items-center p-4">
                                <label>
                                    <input id="checkbox" type="checkbox">加辣
                                </label>
                            </div>
                        </div>
                        <input class="input" type="text" placeholder="新增註記(醬料多一點，不加洋蔥等)">
                        <div class="billTxt">
                            <p>
                                [本店免開統一發票] 本商家所提供的商品沒有含有任何依法規應揭露之肉類食材
                                (上開肉品資訊是由我們所合作之商家合作夥伴所提供。如對上開資訊有任何疑問，請直接與商家合作夥伴聯繫)
                            </p>
                        </div>
                        <div class="addItemBgC">
                            <div class="addGroup wrap justify-content-around">
                                <div class="quantityAddWrap d-flex">
                                    <i class="fas fa-minus-circle fa-2x"></i>
                                    <div class="quantity" style="font-size: 20px;">1</div>
                                    <i class="fas fa-plus-circle fa-2x"></i>
                                </div>
                                <div class="addToCartWrap">
                                    <button type="button" class="btn btn-lg btn-dark active">
                                        <span class="addToCart">
                                            新增 1 項商品至訂單
                                        </span>
                                        <span class="price">
                                            $195.00
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- navbar -->
<div class="container position-relative">
    <div class="navMove row">
        <div class="col-12">
            <div class="navbar">
                @foreach (var ProductCategory in Model.PcgName)
                {
                    <a href="#titleOne">@ProductCategory.Name</a>
                               
                    }
                @*<a href="#titleOne">您專屬的推薦商品</a>
        <a href="#titleTwo">人氣精選</a>
        <a href="#titleThree">主食</a>
        <a href="#titleFour">單點</a>
        <a href="#titleTwo">人氣精選</a>
        <a href="#titleThree">主食</a>
        <a href="#titleFour">單點</a>*@
            </div>
        </div>
    </div>
    <!-- 您專屬的推薦商品 -->
    <div class="title row">
        <div class="col-12">
            <div class="txt" id="titleOne">您專屬的推薦商品</div>
        </div>
    </div>
    <div class="itemGroup row d-flex ">
        @foreach (var Product in Model.Products)
        {
            <div class="col-12 col-lg-12 col-xl-4" data-toggle="modal" data-target="#storeModal">
                <div class="card d-flex flex-row-reverse card d-flex flex-row-reverse">
                    <div class="itemGroupPic">
                        <img src="@Product.Img" class="card-img-top"
                             alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Product.Name<br>@Product.Description</p>@Product.UnitPrice
                    </div>
                </div>
            </div>
        }

        @*<div class="col-12 col-lg-12 col-xl-4" data-toggle="modal" data-target="#storeModal">
                <div class="card d-flex flex-row-reverse card d-flex flex-row-reverse">
                    <div class="itemGroupPic">
                        <img src="@Model.ProductImg" class="card-img-top"
                             alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Model.ProductName<br>@Model.Description</p>@Model.UnitPrice
                    </div>
                </div>
            </div>*@
        @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>*@

        @*<div class="col-12 col-lg-12 col-xl-4">
                <div class="card d-flex flex-row-reverse">
                    <div class="itemGroupPic">
                        <img src="@Model.ProductImg" class="card-img-top"
                             alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Model.ProductName<br>@Model.Description</p>@Model.UnitPrice
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xl-4">
                <div class="card d-flex flex-row-reverse">
                    <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">蔥蔥雞</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xl-4">
                <div class="card d-flex flex-row-reverse">
                    <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">蔥蔥雞</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xl-4">
                <div class="card d-flex flex-row-reverse">
                    <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">蔥蔥雞</p>
                    </div>
                </div>
            </div>*@
    </div>
    <!-- 人氣精選 -->
    <div class="title row">
        <div class="col-12">
            <div class="txt" id="titleTwo">人氣精選</div>
        </div>
    </div>
    <div class="item-group row d-flex">
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">蔥蔥雞便當<br>附一杯飲料。</p>$140.00
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">菌菇拌雞胸肉便當<br>附 1 杯飲料。小辣</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">蔥蔥雞</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">蔥蔥雞</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 主食 -->
    <div class="title row">
        <div class="col-12">
            <div class="txt" id="titleThree">主食</div>
        </div>
    </div>
    <div class="item-group row d-flex">
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">蔥蔥雞便當<br>附一杯飲料。</p>$140.00
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">菌菇拌雞胸肉便當<br>附 1 杯飲料。小辣</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">蔥蔥雞</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 單點 -->
    <div class="title row">
        <div class="col-12">
            <div class="txt" id="titleFour">單點</div>
        </div>
    </div>
    <div class="item-group row d-flex">
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">蔥蔥雞便當<br>附一杯飲料。</p>$140.00
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">菌菇拌雞胸肉便當<br>附 1 杯飲料。小辣</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">蔥蔥雞</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">菌菇拌雞胸肉便當<br>附 1 杯飲料。小辣</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">菌菇拌雞胸肉便當<br>附 1 杯飲料。小辣</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">菌菇拌雞胸肉便當<br>附 1 杯飲料。小辣</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
            <div class="card d-flex flex-row-reverse">
                <img src="https://picsum.photos/100/100/?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">菌菇拌雞胸肉便當<br>附 1 杯飲料。小辣</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section topCSS{
    <style>
        /* top */
        .container {
            max-width: 1920px;
        }

        html {
            scroll-behavior: smooth;
        }

        .layout {
            background-color: red;
            height: 96px;
        }

        .topTitle {
            background-color: rgb(238, 247, 237);
            width: 100%;
            text-align: center;
            z-index: 2;
            position: sticky;
            top: 0;
        }

        .discount {
            width: 100%;
            margin: auto;
        }

        .topTitle a {
            color: green;
            padding: 10px 0;
            display: inline-block;
            text-decoration: none;
        }

        /* banner */
        .banner {
            width: 100%;
            position: relative;
        }

        .carouselItem {
            width: 100%;
            height: 256px;
        }

            .carouselItem img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .bannerTxtBtn {
            position: relative;
        }

        .text {
            position: absolute;
            bottom: 0;
            padding: 0 0 20px 27px;
            color: white;
        }

            .text img {
                width: 14px;
                height: 14px;
            }

            .text h1 {
                font-size: 36px;
                font-weight: bold;
            }

        .timeHeartBtn {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0 20px 20px 0;
        }

        .btn-oblong {
            border-radius: 30px 30px 30px 30px;
        }

        /* heart */
        .heart .heartSolid {
            display: none;
        }

        .heart .heartSolid {
            color: white;
        }

        .heart .heartEmpty {
            color: white;
        }

        .heart {
            cursor: pointer;
        }

        /* timeModal */
        .timeModalContent {
            border-radius: 0;
        }

        .btnTimeClose {
            padding: 5px;
            position: absolute;
            top: 0px;
        }

        .modal-footer {
            border-top: none;
        }

        .openTime {
            font-size: 36px;
            position: relative;
        }

        .openTime span {
            font-size: 16px;
        }
        h3 .setOpenTime{
            font-size:30px;
        }
        /* 下拉選單modal */
        .formSelect {
            width: 100%;
            padding: 12px 32px 12px 16px;
            margin-bottom: 12px;
            background-color: #F6F6F6;
            border: none;
        }

        .selectTime button {
            width: 100%;
        }

        /* 地址 */
        .address {
            padding: 0 27px;
        }

            .address a {
                color: black;
                text-decoration: underline;
            }

        /* dataModal */
        .dataModalHeader img {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .dataModalHeader {
            width: 200%;
        }

        .imgClose {
            position: relative;
            width: 100%;
        }

        .imgClosePic img {
            display: block;
            width: 50%;
        }

        .dataModalContent {
            border: none;
        }

        .imgClose .fa-times-circle {
            position: absolute;
            top: 10px;
            left: 10px;
            color: #fff;
        }

        .line {
            height: 2px;
            border-bottom: 2px solid #e2e2e2;
        }

        .map {
            display: flex;
            justify-content: space-between;
            margin: auto;
            padding: 10px 0;
            align-items: center;
        }

        .time {
            display: flex;
            justify-content: space-between;
            margin: auto;
            padding: 10px 0;
            align-items: center;
        }

        .joinEats {
            display: flex;
            justify-content: space-between;
            margin: auto;
            padding: 10px 0;
            align-items: center;
        }

        .joinEats span {
            color: #545454;
            font-size: 14px;
        }

        .ticket img {
            width: 21px;
            height: 21px;
        }

        .score {
            display: flex;
            justify-content: space-between;
            margin: auto;
            padding: 10px 0;
            align-items: center;
        }

        .bill {
            padding-left: 20px;
        }

        .bill p {
            font-size: 14px;
            color: rgb(117, 117, 117);
        }
        .startTime {
            display: flex;
            justify-content: space-between;
        }
        .textCenter{
            margin:auto;
        }
        /* storeModal */
        .storeModalContent {
            border: none;
        }

        .storeModalBody {
            padding: 0;
        }

        .imgAndClose {
            position: relative;
        }

        .imgAndClosePic {
            width: 100%;
            height: 200px;
        }

            .imgAndClosePic img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .imgAndClose .fa-times-circle {
            position: absolute;
            top: 10px;
            left: 10px;
            color: #fff;
        }

        .addGroup {
            display: flex;
            text-align: center;
        }

        .quantityAddWrap {
            justify-content: center;
        }

        .selectedBgc {
            background: rgb(246, 246, 246);
        }

        .addItemBgC {
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(rgba(255, 255, 255, 0) 2.5%, rgba(255, 255, 255, 0.92) 55.35%);
        }

            .addItemBgC i {
                padding: 0 15px;
            }

        .addToCart {
            text-align: center;
        }

        .price {
            text-align: right;
        }

        .cardWrap input {
            border: none;
            padding: 24px;
        }

            .cardWrap input:focus-visible {
                outline: none;
            }

        .input {
            width: 100%;
        }

        .cardWrap {
            height: 500px;
            position: relative;
        }

        .billTxt {
            background: rgb(246, 246, 246);
            padding-bottom: 105px;
        }

            .billTxt p {
                padding: 10px;
            }

        .scroll {
            overflow-y: scroll;
            height: 500px;
            display: block;
        }

        .addGroup {
            display: flex;
        }

        .quantityAddWrap {
            justify-content: space-between;
            margin: auto;
        }

        .addToCartWrap button {
            margin: 10px;
        }

        .checkboxDiv label {
            width: 100%;
        }

        /* navbar */
        .navMove {
            position: sticky;
            top: 41px;
            z-index: 4;
        }

        .navbar a {
            color: black;
            padding: 0 10px;
            text-decoration: none;
        }

        .navbar {
            justify-content: start;
            background-color: white;
            border-bottom: 2px solid #E2E2E2;
            z-index: 3;
            width: 100%;
            height: 78px;
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

        /* 您專屬的推薦商品 */
        :target {
            content: '';
            display: block;
            padding-top: 122px;
            margin-top: -122px;
        }

        .title {
            margin-left: 0;
            margin-right: 0;
        }

        /* .card img {
              width: 88px;
              height: 120px;
            } */

        .card-body {
            width: 50%;
        }

        .card {
            margin: 10px 0;
        }

            .card:hover {
                border: 1px solid black;
            }

            .card .row,
            .itemGroup {
                margin-left: 0;
                margin-right: 0;
            }

        .itemGroup {
            cursor: pointer;
        }

        .itemGroupPic {
            width: 45%;
        }

        .title .txt {
            font-size: 23px;
            font-weight: bold;
        }

        /* 桌機 */
        @@media screen and (min-width: 992px) {
            .card img {
                width: 88px;
                height: 120px;
            }

            .addGroup {
                display: flex;
                text-align: center;
            }

            .quantityAddWrap {
                justify-content: center;
                margin: auto 0;
            }

            .storeModalBody {
                display: flex;
                width: 100%;
            }

            .imgAndClose {
                width: 50%;
            }

            .imgAndClosePic img {
                height: 500px;
            }

            .cardWrap {
                width: 50%;
            }

            .itemGroupPic {
                width: 40%;
            }

                .itemGroupPic img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        }

        /* ipad橫直*/
        @@media screen and (min-width: 768px) and (max-width:1024px) {
            .itemGroup .card {
                height: 128px;
            }

            .itemGroupPic {
                width: 22%;
            }

                .itemGroupPic img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
        }
    </style>
}

@section endJS
{
    <script>
        //愛心
        let heartSolid = document.querySelector(".heartSolid");
        let heartEmpty = document.querySelector(".heartEmpty");
        let heart = document.querySelector(".heart")

        heart.onclick = function () {
            if ($('.heartEmpty').css('display') === "block") {
                heartEmpty.style.display = "none";
                heartSolid.style.display = "block";
            } else {
                heartEmpty.style.display = "block";
                heartSolid.style.display = "none";
            }
        }
        //下拉選單
        console.log($('.circleIcon'));
        $('.circleIcon')[0].on('click', function () {
            if ($(".checkboxDiv").hasClass('d-flex')) {
                $('.checkboxDiv').removeClass('d-flex');
                $('.checkboxDiv').addClass('d-none')

                $('.circleIcon').removeClass('fa-chevron-circle-down');
                $('.circleIcon').addClass('fa-chevron-circle-up');

            } else {
                $('.checkboxDiv').addClass('d-flex');
                $('.checkboxDiv').removeClass('d-none');

                $('.circleIcon').removeClass('fa-chevron-circle-up');
                $('.circleIcon').addClass('fa-chevron-circle-down');
            }
        });
    </script>
}

