@model HomeViewModel

@using (Html.BeginForm())
{
    <label for="Keyword">請輸入產品關鍵字:</label>
    @Html.TextBox("Keyword")

    <input type="submit" value="搜尋" class="btn btn-primary" />
}

@if (Model != null && Model.StoreCardBlocks.Count() > 0)
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.)</th>
                <th>@Html.DisplayNameFor(m => m.ProductName)</th>
                <th>@Html.DisplayNameFor(m => m.UnitPrice)</th>
                <th>@Html.DisplayNameFor(m => m.UnitsInStock)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.ProductID)</td>
                    <td>@Html.DisplayFor(m => item.ProductName)</td>
                    <td>@Html.DisplayFor(m => item.UnitPrice)</td>
                    <td>@Html.DisplayFor(m => item.UnitsInStock)</td>
                </tr>
            }
        </tbody>
    </table>
}

