@model HolyShong.ViewModels.HolyCartViewModel
@using HolyShong.Services;
@{
    var cartServices = new CartService();
    var holyCartViewmodel = cartServices.GetCartByMemberId(4);

    int count = 0; 
    if(Session["HolyCartViewModel"] != null)
    { 
        List<Cart> holyCartViewModel = (List<Cart>)Session["holyCartViewModel"];
        count = ((List<Cart>)Session["holyCartViewModel"]).Count;

    }
}

@{
    HttpCookie cookie = HttpContext.Current.Request.Cookies.Get(FormsAuthentication.FormsCookieName);

    string userid = "";
    if (cookie != null)
    {
        FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(cookie.Value);
        userid = ticket.UserData;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;900&display=swap"
          rel="stylesheet">
    <link href="~/Assets/CSS/layout1.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    @RenderSection("topJS", required: false)
    @RenderSection("topCSS", required: false)


</head>
<body>
    <input type="checkbox" class="d-none" id="menu-check">
    <header class="container">
        <div class="top">
            <div class="bg"></div>
            <div class="head d-flex">
                <label for="menu-check" class="hb"><i class="fas fa-bars align-middle"></i></label>
                <div class="logo m-auto">
                    <a class="d-block" href="~/home/index"><img src="~/Assets/Images/logo.jpg"></a>
                </div>
            </div>
            <div class="lookup">
                <!-- 地址/時間 -->
                <div class="deliver" data-toggle="modal" data-target="#deliverModal">
                    <div class="item my-auto d-flex">
                        <i class="fas fa-map-marker-alt px-2 m-auto"></i>
                        <div class="destination">台北市</div>
                        <span>．</span>
                        <div class="time">立刻</div>
                    </div>
                    <div class="my-auto">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>




                <!-- 搜尋 -->
                @*<div class="search d-flex">
                        <label class="w-100">
                            <i class="fas fa-search p-2"></i>
                            <input type="text" id="searchTxt" class="border-none bg-transparent" placeholder="想吃點什麼？">
                        </label>
                        <div class="filter"><i class="fas fa-sliders-h"></i></div>
                    </div>*@

                <div class="search ">
                    <div class="d-flex">
                        <label class="w-100">
                            <i class="fas fa-search p-2"></i>
                            <input type="text" name="keyword" id="keyword" class="border-none bg-transparent" onkeypress="uberSearch(event)" placeholder="想吃點什麼？">
                        </label>
                        <div data-toggle="modal" data-target="#subcategorymodal" class="filter">
                            <i class="fas fa-sliders-h"></i>
                        </div>
                        @*<input value="搜尋" class="btn btn-primary p-0">*@
                    </div>
                </div>




            </div>
            <!-- 購物車&登入 -->
            <div class="status d-flex">
                <input type="checkbox" class="d-none" id="cart-check">
                <label for="cart-check" class="cart text-light bg-dark px-3 py-2 p-lg-3 mr-1">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="d-none d-lg-block">購物車 ●</span><span>@holyCartViewmodel.Count</span>
                </label>
                <div class="cartList">
                    <div id="holyCart" class="list">
                        <!-- <div class="noneList">
                          <i class="fas fa-shopping-cart mb-3"></i>
                          <br>
                          <span>選購餐廳或商店中的商品，即可開啟新的購物車</span>
                        </div> -->
                        <!-- 購物車 -->
                        @Html.Partial("_CartPartial")
                    </div>
                </div>
                <button class="noLogin login btn py-2" onclick="location.href='@Url.Action("Login", "Member")'">登入</button>

            </div>

            <div class="menu">
                <div class="loginShow name py-2 border-bottom">@User.Identity.Name</div>
                <div class="function loginShow">
                    <div class="account item" onclick="location.href='@Url.Action("UserProfile", "Member")'"><i class="fas fa-user"></i>帳戶資訊</div>
                    <div class="order item" onclick="location.href='@Url.Action("OrderList", "Member")'"><i class="fas fa-receipt"></i>訂單</div>
                    <div class="favorite item" onclick="location.href='@Url.Action("FavoriteStore", "Member")'"><i class="fas fa-heart"></i>最愛餐廳</div>
                    <div class="discount item" data-toggle="modal" data-target="#discountModal">
                        <i class="fas fa-tag"></i>優惠
                    </div>
                    <div class="eatPass item text-success d-flex" onclick="location.href='@Url.Action("Eatpass", "Member")'">
                        <div><i class="fas fa-ticket-alt"></i></div>
                        <div>
                            <div>優饗方案</div>
                            <span class="desc text-secondary">免費外送及行程費用折扣優惠</span>
                        </div>
                    </div>
                    <div class="invite item d-flex" onclick="location.href='@Url.Action("Invite", "Member")'">
                        <div><i class="fas fa-gift"></i></div>
                        <div>
                            <div>邀請好友</div>
                            <span class="desc text-secondary">您可獲得$100折扣優惠</span>
                        </div>
                    </div>
                </div>
                <div class="switch">
                    <button class="loginShow btn btn btn-dark  w-100 mb-2" onclick="location.href='@Url.Action("Index", "Home")'">我想要訂餐</button>
                    <button class="loginShow btn btn btn-dark  w-100 mb-2" onclick="location.href='@Url.Action("RestaurantRegister", "Member")'">餐廳登入</button>
                    <button class="loginShow btn btn btn-dark  w-100 mb-2" onclick="location.href='@Url.Action("DeliverRegister", "Member")'">外送夥伴</button>
                    <button class="loginShow btn border-secondary w-100 mb-2" onclick="location.href='@Url.Action("SignOut", "Member")'">登出</button>
                    <button class="noLogin btn btn-dark w-100 mb-2" onclick="location.href='@Url.Action("Login", "Member")'">請先登入</button>

                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="info-img">
                    <div class="logoBottom">
                        <img src="~/Assets/Images/logo.jpg">
                    </div>
                    <div class="download">
                        <img class="me-3" src="https://picsum.photos/135/40/?random=3">
                        <img src="https://picsum.photos/135/40/?random=3">
                    </div>
                </div>
                <div class="info-txt">
                    <a href="#">新增您的餐廳</a>
                    <a href="#">註冊成為合作夥伴</a>
                    <a href="#">首份訂單可享折扣優惠</a>
                    <a href="#">我最近的美食外送</a>
                    <a href="#"><i class="fas fa-globe-americas ml-3"></i>中文</a>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="item d-flex">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="item">
                    <div class="policy">
                        <a href="#">隱私政策</a>
                        <a href="#">條款</a>
                        <a href="#">價格</a>
                    </div>
                    <div class="copyright">
                        <span>本網站受到 reCAPTCHA 和 Google 隱私政策的保護，且適用服務條款。</span>
                        <span> &copy; Holy Shong Technologies Inc.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- 時間地點Modal -->
    <div class="modal fade" id="deliverModal" tabindex="-1" aria-labelledby="discountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body my-4">
                    <h2 class="modal-title mb-4">外送詳細資訊</h2>
                    <div class="item d-flex justify-content-between mb-4">
                        <div class="px-2 m-auto"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="flex-grow-1">
                            <span>Build School</span>
                            <br>
                            <span>忠孝東路三段96號11號樓之1, 台北市大安區</span>
                        </div>
                        <button data-toggle="modal" data-target="#destModal">變更</button>
                    </div>
                    <div class="item d-flex justify-content-between">
                        <div class="px-2 m-auto"><i class="fas fa-clock"></i></div>
                        <div class="flex-grow-1">
                            <span>日期</span>
                            <br>
                            <span>時間</span>
                        </div>
                        <button data-toggle="modal" data-target="#timeModal">安排時間</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark py-3 w-100" data-dismiss="modal">完成</button>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_DiscountPartial")

    <!-- 外送地點 -->
    <div class="modal fade" id="destModal" tabindex="-1" aria-labelledby="destModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="destlist" class="modal-body">
                    <div class="dest-body">
                        <h4 class="modal-title mb-3" id="destModalLabel">外送地點？</h4>
                        <input type="text" placeholder="輸入外送地址">
                        <!-- 紀錄地址 -->
                        <div class="d-flex justify-content-between my-3">
                            <div>
                                <i class="fas fa-map-marker-alt p-3"></i>
                                <p class="d-inline m-0">台北市大安區忠孝東路三段96號11號樓之1</p>
                            </div>
                            <div>
                                <i class="fas fa-pencil-alt p-3"></i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between my-3">
                            <div>
                                <i class="fas fa-map-marker-alt p-3"></i>
                                <p class="d-inline m-0">台北市大安區忠孝東路三段96號11號樓之1</p>
                            </div>
                            <div>
                                <i class="fas fa-pencil-alt p-3"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark py-3 w-100" data-dismiss="modal">完成</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 外送時間 -->
    <div class="modal fade" id="timeModal" tabindex="-1" aria-labelledby="destModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="timelist" class="modal-body">
                    <div class="time-body">
                        <h4 class="modal-title mb-3" id="timeModalLabel">挑選時間</h4>
                        <select class="w-100">
                            <option value="2021-09-04">9月4日 週六</option>
                            <option value="2021-09-05">9月5日 週日</option>
                            <option value="2021-09-06">9月6日 週一</option>
                            <option value="2021-09-07">9月7日 週二</option>
                        </select>
                        <select class="w-100">
                            <option value="1">14:00 - 14:30</option>
                            <option value="2">14:30 - 15:00</option>
                            <option value="3">15:00 - 15:30</option>
                            <option value="4">15:30 - 16:00</option>
                            <option value="5">16:00 - 16:30</option>
                            <option value="6">16:30 - 17:00</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark py-3 w-100" data-dismiss="modal">完成</button>
                    <button type="button" class="btn btn-outline-secondary py-3 w-100"
                            data-dismiss="modal">
                        立刻外送
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 團購訂單-->
    <div class="modal fade" id="groupOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">BS的團購訂單</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <P>邀請賓客使用可分享連結新增餐點。所有人都訂完後，再幫大家付款。</P>
                </div>
                <div class="modal-footer">
                    <div class="previewOrderDiv">
                        <button class="previewOrderBtn">
                            <div class="previewOrderSpan">建立訂單</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    @*副分類篩選*@
    <div class="modal fade" id="subcategorymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">篩選條件</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_SubCategoryPartial")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">確定</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="~/Assets/JS/layout.js"></script>

    <script src="~/Assets/JS/Search/subcategorysearch.js"></script>

    @RenderSection("scripts", required: false)

    @RenderSection("endCSS", required: false)



    @if (User.Identity.IsAuthenticated)
    {
        <script>
            let noLogin = document.querySelectorAll('.noLogin');
            let loginShow = document.querySelectorAll(".loginShow");

            noLogin.forEach((item, index) => {
                item.classList.add("d-none")
            })
            loginShow.forEach((item, index) => {
                item.classList.remove("d-none")
            })
        </script>
    }
    else
    {
        <script>
            let noLogin = document.querySelectorAll('.noLogin');
            let loginShow = document.querySelectorAll(".loginShow");

            noLogin.forEach((item, index) => {
                item.classList.remove("d-none")
            })
            loginShow.forEach((item, index) => {
                item.classList.add("d-none")
            })
        </script>
    }

    @RenderSection("endJS", required: false)

</body>
</html>
